:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brown: #7f7166;
  --darkBrown: #53463c;
  --beige: #ffeede;
  --grey: #5e5d5d;
  --darkGrey: #2d2d2d;
}

a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: inherit;
}
a:hover {
  color: var(--darkGrey);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--beige);
  color: var(--darkGrey);
}
