:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brown: #7f7166;
  --darkBrown: #53463c;
  --beige: #f9ecd6;
  /* --beige: #ffeede; */
  --tan: #ad9674;
  --red: #6a1d13;
  --grey: #5e5d5d;
  --darkGrey: #2d2d2d;

  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: inherit;
}
a:hover {
  color: var(--darkGrey);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--beige);
  color: var(--darkGrey);
}
